.container{
    background-color: aqua;
}
.box{
background-color: rgb(106, 94, 94) ;
border: solid 6px rgb(241, 237, 0);
width: 50%;
height: 100%;
margin: 250px;
justify-content: center;
border-radius: 20px;


}
.box h1{
    font-size: 20px;
}
.main{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.navbar{
    background-color: rgba(7, 7, 7, 0.797);
    border-radius: 14px;
    position: sticky;
    
}
.navbar li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
.navbar li{
    list-style: none;
    float: left;
    padding-left:  45px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    font-size: 20px;
    color: #333; /* Text color */
    transition: box-shadow 0.3s ease;
    align-items: ;

}
.navbar ul{
    overflow: auto;
}
.navbar li :hover{
    box-shadow: 0 2px 5px rgba(249, 249, 249, 0.2);

    
}
/* Container for buttons */
.button-container {
    /* display: flex; */
     justify-content: center;
    align-items: center;
    /* height: 100vh;  */
  }
  
  /* Style for the charming buttons */
  .charming-button {
    padding: 12px 20px;
    font-size: 26px;
    font-weight: bold;
    color: #fff; /* Text color */
    background-color: #53e95f; /* Button background color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transition: background-color 0.3s ease; /* Add a smooth transition for the background-color property */
    margin: 8px;
  }
  
  /* Button hover effect */
  .charming-button:hover {
    background-color: #f1c605; /* Change the background color on hover */
  }